@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.section-1, .section-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    /* max-width: 90%; at media-queries */
    margin: 0;
    /* padding: 1rem; */

    background: #1C1C3A;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #FFFFFF;
}

.section-2 {
    height: auto;
    background: white;
    margin-top: 5vw;
    color: black;
}

.mans-image, .man-drinks {
    display: block;
    margin-left: auto;
    margin-right: auto;

    margin: auto;

    transition: all .5s;
}

.statement {
    margin: auto;
}

.statement > p {
    opacity: .6;
    font-size: 16px;
}

.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blueCheck {
    margin: 0 4px;
}
.statement p, .statement h1, .statement h3 {
    text-align: center;
}

.statement h1 {
    font-size: 45px;
    font-weight: 600;
}

.puts {
    color: #E86264;
}

.an {
    color: #e07779;
}

.end {
    color: #F58663;
}

.statement h3 {
    font-weight: 500;
    font-size: 18px;
    opacity: .8;

    margin-bottom: 4rem;
}

button {
    padding: 1rem 2.3rem;
    margin: 1.3rem;
    border-radius: 25px;
    font-size: 16px;

    border: none;
    cursor: pointer;
}

.shadow {
    box-shadow: 3px 10px 14px -5px rgba(0,0,0,0.51);
}

.clr {
    background: white;
}

.take {
    background: #2563EB;
    color: white;
}

.offers {
    margin: .6rem;
}

#c div h1, #d div h1 {
    font-size: 20px;
    font-weight: 600;
    opacity: .8;
}

.knowWhy {
    font-size: 38px;
    margin: 0;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-weight: 700;
}

#c, #d {
    display: flex;
    font-size: 13px;

    gap: 10px;
}

.check {
    width: 16px;
    height: 16px;

    margin-top: 20px;
}

.section-2 p {
    opacity: .5;
}

.offers p {
    font-size: 14px;
}

.orange {
    color: rgb(245, 123, 123);
}

@media (max-width: 760px) {
    .section-1 {
        padding: 3rem .5rem;
    }

    .statement {
        margin-top: 2rem;
    }

    .forFont {
        font-size: 14px;
    }

    .cut {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }

    .knowWhy {
        font-size: 33px;
    }
}

@media screen and (max-width: 850px) {
    .mans-image {
        width: 300px;
    }
}

@media screen and (max-width: 950px) {
    .man-drinks {
        width: 320px;
    }
}

@media screen and (min-width: 768px) {
    /* #c {
        grid-column: 2;
    }

    #d {
        grid-column: 1;
    } */

    .statement h1 {
        font-size: 60px;
        margin-top: 5rem;
    }
    
    .offers {
        margin-left: 3rem;
        width: 95%;
    }

    .statement {
        max-width: 450px;
        margin-left: 0;
    }

    .section-1 {
        height: 120vh;
    }

    .section-2 {
        height: auto;
    }
}